<web-app version="2.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xsi:schemalocation="http:/java.sun.com/dtd/web-app_2_3.dtd">
	<servlet>
		<servlet-name>InitSalon</servlet-name>
		<servlet-class>chess.vue.InitSalon</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InitSalon</servlet-name>
		<url-pattern>/InitSalon</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetUserId</servlet-name>
		<servlet-class>chess.vue.GetUserId</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetUserId</servlet-name>
		<url-pattern>/GetUserId</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SetUserId</servlet-name>
		<servlet-class>chess.vue.SetUserId</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SetUserId</servlet-name>
		<url-pattern>/SetUserId</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetListJoueurs</servlet-name>
		<servlet-class>chess.vue.GetListJoueurs</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetListJoueurs</servlet-name>
		<url-pattern>/GetListJoueurs</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Unlog</servlet-name>
		<servlet-class>chess.vue.Unlog</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Unlog</servlet-name>
		<url-pattern>/Unlog</url-pattern>
	</servlet-mapping>

<!--
	<servlet>
		<servlet-name>Simple</servlet-name>
		<servlet-class>babillard.vue.Simple</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Simple</servlet-name>
		<url-pattern>/Simple</url-pattern>
	</servlet-mapping>
    -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>chess.web.SessionListener</listener-class>
        <listener-class>chess.web.ApplicationListener</listener-class>
    </listener>

</web-app>
